// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


$primary:    #680e92;

$secondary:  #6a20e2;
$tertiary:   #9b44ff;

$success:    #10dc60;
$warning:    #e2c966;
$danger:     #f04141;

