ion-tabs {
    margin: 0; 
    padding: 1px; 
    position: fixed;
}

ion-tab-bar {
    margin: 0; 
    padding-bottom: 0; 
   // --background: #7513e4;

    --background: rgb(187,45,22);
    --background: linear-gradient(90deg, rgba(187,45,22,1) 0%, rgba(218,64,5,1) 35%, rgba(159,247,58,1) 100%);
}

ion-icon{
    color: white;
    font-size: 40px;
}

ion-label{
    color: white;
}

ion-toolbar{
    //--background: #7513e4;   
    --background: rgb(187,45,22);
    --background: linear-gradient(90deg, rgba(187,45,22,1) 0%, rgba(218,64,5,1) 35%, rgba(159,247,58,1) 100%);

}

ion-title{
    color: white;
}

ion-content {
    padding-bottom: 56px; 
    position: relative;
    z-index: auto; 
  }
  
  ion-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10; 
  }